<!DOCTYPE html>



<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layouts/main-layout :: main-fragment(
                                                ~{:: title},
                                                ~{:: #static-resources},
                                                ~{:: #header},
                                                ~{:: #main},
                                                ~{:: #footer},
                                                ~{:: #script}
                                               )}">
<head>
    <title>Edit - [[${#request.userPrincipal.principal.fullName}]]</title>
</head>
<body>



<header id="header" th:insert="~{/fragments/app-fragments :: nav-default}">
    menu
</header>



<div class="edit-profile" id="main" style="margin-top:50px">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <ul>
                    <li><a th:href="@{/profile/} + ${#request.userPrincipal.principal.id} + @{/edit}">Edit Profile</a></li><br>
                    <li><a th:href="@{/profile/} + ${#request.userPrincipal.principal.id} + @{/changePassword}" class="active">Change Password</a></li><br>
                    <li><a th:href="@{/listBlock/} + ${#request.userPrincipal.principal.id} + @{/edit}" >List Block</a></li>
                </ul>
            </div>
            <div class="col-md-9 info">
                <form th:action="@{/profile/} + ${#request.userPrincipal.principal.id} + @{/changePassword}" th:object="${change}" method="post" enctype="multipart/form-data">

                    <div th:if="${param.error}" class="alert alert-danger alert-dismissible fade show" role="alert">
                        <strong class="errors" th:text="${param.error}"></strong>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>

                    <div th:if="${param.success}" class="alert alert-success alert-dismissible fade show" role="alert">
                        <strong class="errors" th:text="${param.success}"></strong>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>

                    <input type="hidden" th:field="*{id}"/>
                    <input type="hidden" th:field="*{username}"/>
                    <input type="hidden" th:field="*{userImg}"/>

                    <div class="form-group">
                        <label class="form-label">
                            Old password
                        </label>
                        <input type="password" class="form-control" placeholder="Enter your old password" name="oldPassword" required autofocus>
                    </div>

                    <div class="form-group">
                        <label class="form-label">
                            New password
                        </label>
                        <input type="password" name="password" id="password" class="form-control" placeholder="Enter your new password" required/>
                    </div>

                    <div class="form-group">
                        <label class="form-label">
                            Confirm password
                        </label>
                        <input type="password" name="confirmPassword" class="form-control" placeholder="Confirm your new password" required oninput="checkPasswordMatch(this);" />
                    </div>
                    <button type="submit" class="btn btn-primary button">Update</button>
                </form>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</div>



<th:block id="script">
    <script type="text/javascript">
    function checkPasswordMatch(fieldConfirmPassword){
        if(fieldConfirmPassword.value != $("#password").val()){
            fieldConfirmPassword.setCustomValidity("Password do not match!");
        }else{
            fieldConfirmPassword.setCustomValidity("");
        }
    }
    </script>
</th:block>
</body>
</html>